@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
	
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family:'Poppins', sans-serif ;
	text-decoration: none;
}

:root {
	--bg-color: #1f242d;
	--second-bg-color: #323946;
	--text-color: #fff;
	--main-color: rgb(207, 81, 253);

}

@keyframes floatImage {
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-2.4rem);
	}
	100%{
		transform: translateY(0);
	}
}
html{
	font-size: 60.5%;
	overflow-x: hidden;

}
.portofolio {
	background: var(--bg-color);
}
/* #canvasOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 2;
  }
  
  #CanvasContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1;
  } */
.portofolio h2{
	margin-bottom: 4rem;
}
/* .portofolio-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 2.5rem;
} */
/* .portofolio-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 2.5rem;
}
.portofolio-container .portofolio-box{
	
	position: relative;
	border-radius: 2rem;
	box-shadow: 0 0 1rem var(--bg-color);
	display: flex;
	overflow: hidden;
	
	transition: .4s ease;
	height: 250px; 
	width: 100%;
}

.portofolio-box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s ease;

}
.portofolio-layer i{
	font-size: 2rem;
}

.portofolio-box:hover img{
	transform: scale(1.02);
}

.portofolio-layer h4{
	font-size: 3rem;

}

.portofolio-layer p{
	font-size: 1.6rem;
	margin: 0.1rem 0 1rem;
}

.portofolio-layer a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	background: var(--text-color);
	border-radius:50% ;
}

.portofolio-box .portofolio-layer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	padding : 0 4rem;
	transform: translateY(100%);
	transition: 0.5s ease;
	background: linear-gradient(rgba(0, 0, 0, .1),var(--main-color));
}

.portofolio-box:hover .portofolio-layer{
	transform: translateY(0);
} */

.home-content h3{
	font-size: 3.2rem;
	font-weight: 700;
}

.home-content h3:nth-of-type(2){
	margin-bottom: 2rem;
}

span{
	color: var(--main-color);

}

.btn{
	display: inline-block;
	padding: 1rem 2.8rem;
	background: var(--main-color);
	font-size: 1.7rem;
	color: var(--second-bg-color);
	border-radius:4rem ;
	letter-spacing: 0.1rem;
	font-weight: 600;
	box-shadow: 0 0 1rem var(--main-color);
	transition: 0.3s ease;
}

.btn:hover{
	box-shadow: none;
}
.home-content p {
	font-size: 1.6rem;
}
.social-media a{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	background:transparent ;
	border: 0.2rem solid var(--main-color);
	color: var(--main-color);
	margin: 3rem 1.5rem 3rem 0;
	font-size: 2rem;
	border-radius: 50%;
}
.social-media a:hover{
	background: var(--main-color);
	color: var(--second-bg-color);
	box-shadow: 0 0 1rem var(--main-color);
}

.home-content h1{
	font-size: 5.6rem;
	font-weight: 700;
	line-height: 1.3;
}

.home{
	display: flex;
	justify-content:center ;
	align-items:center ;
}
section{
	min-height: 100vh;
	padding: 10rem 9%;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
}
#myCanvas {
    width: 60%;  /* Adjust the width as needed */
    height: 700px; 
}
#projectShowcase {
    width: 100%; /* Or set a specific width */
    height: 500px; /* Adjust the height as needed */
  }
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 9%;
	background: var(--bg-color);
	justify-content: space-between;
	display: flex;
	z-index: 100;
	align-items: center;
}
.header .sticky{
	border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}

.logo
{
	font-size: 2.5rem;
	color: var(--text-color);
	font-weight:600 ;
	cursor: default;
}

.navbar a {
	font-size: 1.7rem;
	color: var(--text-color);
	margin-left: 4rem;
	transition: 0.3s;
}

#menu-icon{
	font-size:3.6rem;	
	color: var(--text-color);
	display: none;
}
.navbar a:hover, .navbar a.active{
	color: var(--main-color);
}

.about{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 100;
	
	background: var(--second-bg-color);

}

.about-img img{
	width: 36vw;
    /* height : vh; */
	border-radius: 2rem;
	animation: floatImage 4s ease-in-out infinite;
	box-shadow: 0 0 1rem var(--main-color);
}
.heading{
	text-align: center;
	font-size: 4.5rem;

}
.services h2{
	margin-bottom: 5rem;
}
.services-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	

}
.services-box i{
	font-size: 5rem;
	color:var(--main-color) ;
}

#proSkill {
	background: var(--second-bg-color);
}
#proSkill .services-container .services-box{
	background: var(--bg-color);
}
.services-container .services-box{
	flex: 1 1 30rem;
	background: var(--second-bg-color);
	padding: 2rem 4rem 3rem;
	text-align: center;
	border-radius: 40px;
	border: .2rem solid var(--bg-color);
	transition: 0.5s ease;
}
.services-container p{
	margin: 1rem 0 1rem;
	font-size: 1.8rem;
}
.services-box h3{
	font-size: 2rem;
}
.services-container .services-box:hover{
	border-color: var(--main-color);
	transform: scale(1.02);
}
.about-content h2{
	text-align: left;
	line-height: 1.2cm;
	margin-left: 5rem;
}
.about-content h3{
	text-align: left;
	font-size: 2.6rem;
	margin-left: 5rem;
}
.about-content p{
	font-size: 1.6rem;
	margin: 2rem 0 1rem 5rem;
}
	
.contact h2{
	margin-bottom: 3rem;

}
.contact{
	background: var(--second-bg-color);
}
.contact form{
	max-width: 70rem;
	margin: 1rem auto;
	text-align: center;
	margin-bottom: 3rem;
	
}

.contact form .input-box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
.contact form .input-box input,
.contact form .input-subject input,
.contact form textarea{
	width: 100%;
	padding: 1.5rem;
	font-size: 1.6rem;
	color: var(--text-color);
	border-radius: .8rem;
	margin: .7rem 0;
	background-color: var(--bg-color);
	color: var(--text-color);
}
.contact form .input-box input{
	width: 49%;
}
.contact form .input-subject input{
	width: 100%;
}
.contact form textarea{
	resize: none;
}
.contact form .btn{
	margin-top: 2rem;
	cursor: pointer;

}
.portofolio-carousel {
	position: relative;
	overflow-x: hidden;  
	display:  flex;
	flex-direction: row;
	gap: 3rem;
	justify-content: space-evenly;
	/* align-items: baseline; */
	/* align-content: baseline; */
  }
  
  .carousel-item {
	text-align: center;
	flex: 0 0 auto;
	transition: transform 0.5s ease-in-out;
  }
  #carousel-item-1 {
	margin-left: 300px;
  }
  .carousel-item img {
	width: 500px; /* Lebar penuh item */
	height: auto;
	border-radius: 10px;
	/* object-fit: cover; */
	text-shadow:rgba(21, 20, 20, 0.907);
	
  }
  .carousel-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0 0 10px 10px; ;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.127);
	color: var(--text-color);
  }

  .carousel-caption h4{
	font-size: small;
	color: var(--main-color);
  }
  .carousel-caption p{
	font-size: 4 rem;
	color: var(--text-color);
  }
  
  
  .prev, .next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.020);
	padding: 10px;
	color: var(--main-color);
	font-weight: bold;
	font-size: 30px;
	cursor: pointer;
	user-select: none;
	
  }
  
  .prev {
	left: 0;
	border-radius: 5px 0 0 5px;
	text-shadow: 0 0 1rem var(--main-color);
  }
  
  .next {
	right: 0;
	border-radius: 0 5px 5px 0;
	text-shadow: 0 0 1rem var(--main-color);
  }
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 9%;
	background:  var(--second-bg-color);
}
.footer-iconTop a{
	display: inline-flex;	
	justify-content: center;
	align-items: center;
	padding: 0.8rem;
	background: var(--main-color);
	border-radius: 0.8rem;
	transition: 0.5s ease;
}

.footer-iconTop a i{
	font-size:2.4rem ;
	color: var(--second-bg-color);
}
.footer-iconTop a:hover{
	box-shadow: 0 0 1rem var(--main-color);
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px){
    .header {
        padding: 2rem 3%;
    }
    .footer{
        padding: 2rem 3%;
    }
	section{
		padding: 10rem 3% 2rem;
	}
	.contact{
		min-height: auto;
	}
	.services{
		padding-bottom: 7rem;
	}
	.portofolio {
		padding-bottom: 7rem;
	} 
	
}
@media (max-width: 768px){
	.navbar {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 1rem 3%;
		background: var(--bg-color);
		border-top: .1rem solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
		display: none;
		
	}
	.navbar.active{
		display: block;
	}
	#menu-icon{
		display: block;
	}
	.navbar a {
		display: block;
		font-size: 2rem;
		margin: 3rem 0;
	}
	.home {
		flex-direction: column;
	}
	.home-content h3{
		font-size: 2.6rem;
	}
	.home-content h1{
		font-size: 5rem;
	}
	#myCanvas {
		width: 100%;
		height: 100%;
	  }
	@keyframes floatImage {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-2.4rem);
		}
		100% {
			transform: translateY(0);
		}
	}
	.about {
		flex-direction: column;
	}
	
	.about-content h3{
		font-size: 2.6rem;
	}
	.about-content h2{
		font-size: 5rem;
	}
	.about img{
		width: 30vw;
		margin-top:1rem ;
	}
	.services h2{
		margin-bottom: 3rem;

	}
	
	.portofolio-container{
		grid-template-columns:repeat(2,1fr) ;
	}

}

@media (max-width:617px){
	.portofolio-container{
		grid-template-columns: 1fr;
	}
}